/* ----------------------------------------
  Boilerplate Socials
---------------------------------------- */

.boilerplate {

}

.boilerplate-social {
  &__item {
    display: inline-block;
    @include innerspace(0.5em);
    background: color('white');
    border-radius: 2px;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 0.5em;
    }

    svg {
      @include size(1em);
      @include transition();
    }

    svg * {
      fill: color('primary');
    }

    &:hover {
      svg * {
        fill: color('secondary');
      }
    }
  }
}

/* ----------------------------------------
  These items are used when copying a
  URL to your clipboard
---------------------------------------- */

.socials__url {
  position: absolute;
  left: -99999px;
}

.socials__url--alert {
  display: none;

  &.is-visible {
    display: block;
  }
}
